<h1>
  Post details
</h1>
<div>
  <button onclick="window.history.back()" class="btn btn-info">Back</button>
</div>
<br />
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{post?.title}}</h5>
    <p class="card-text">{{post?.content}}</p>
  </div>
</div>
<h2>Comments</h2>

<div class="float-left add-comment-button">
  <button class="btn btn-success" (click)="openCloseForm()"><i class="fa fa-plus"></i>&nbsp; Add post</button>
</div>

<div class="clearfix"></div>

<div class="float-left add-comment-div" *ngIf="formOpened">
  <div id="alertCommentCreated" class="alert alert-success alert-dismissible fade show" role="alert"
    style="display:none;">
    <strong>Comment created</strong>
    <button type="button" class="close" aria-label="Close" onclick="$('.alert').hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="newCommentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="comment-name">Name</label>
      <input formControlName="name" type="text" class="form-control" id="comment-name" placeholder="Your name">
      <small *ngIf="submitted && f.name.errors">
        <span class="text-red" *ngIf="f.name.errors.required">Name is required</span>
      </small>
    </div>
    <div class="form-group">
      <label for="comment-email">Email</label>
      <input formControlName="email" type="email" class="form-control" id="comment-email" placeholder="Your email">
      <small *ngIf="submitted && f.email.errors">
        <span class="text-red" *ngIf="f.email.errors.required">Email is required</span>
        <span class="text-red" *ngIf="f.email.errors.email">Email must be a valid email address</span>
      </small>

    </div>
    <div class="form-group">
      <label for="comment-body">Example textarea</label>
      <textarea formControlName="body" class="form-control" id="comment-body" rows="3"></textarea>
      <small *ngIf="submitted && f.body.errors">
        <span class="text-red" *ngIf="f.body.errors.required">Comment is required</span>
        <span class="text-red" *ngIf="f.body.errors.minlength">Comment must be at least 20 characters</span>
      </small>
    </div>
    <button class="btn btn-success">Submit</button>
  </form>
</div>
<div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Post Id</th>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Body</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of comments">
        <th scope="row">{{c.id}}</th>
        <td>{{c.postId}}</td>
        <td>{{c.email}}</td>
        <td>{{c.name}}</td>
        <td>{{c.body}}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="setCommentId(c.id)" data-toggle="modal"
            data-target="#deleteCommentModal">
            <i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Please confirm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you really want remove this comment?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" (click)="deleteComment()">Yes</button>
        </div>
      </div>
    </div>
  </div>

</div>