<div>
  <div class="pull-right">

  </div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">User Id</th>
        <th scope="col">User name</th>
        <th scope="col">Post Id</th>
        <th scope="col">Post Title</th>
        <th scope="col">Post Content</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let up of usersPosts">
        <th scope="row">{{up.userId}}</th>
        <td>{{up.userName}}</td>
        <td>{{up.postId}}</td>
        <td title="{{up.postTitle}}">
          <a href="#myModal" data-toggle="modal"
            (click)="setPostContent(up.postContent)">{{up.postTitle | truncate:[30, '...']}}</a>
        </td>
        <td title=" {{up.postContent}}">{{up.postContent | truncate:[50, '...'] }}</td>
      </tr>
    </tbody>
  </table>
  <div class="pull-right">
    <nav aria-label="...">
      <span class="badge badge-info">Paginaion with ajax</span>
      <ul class="pagination pagination-sm">
        <li class="page-item">
          <button (click)="prev()" type="button" [disabled]="paginationPrevDisabled"
            class="btn btn-success">Prev</button>&nbsp;
          <button (click)="next()" type="button" [disabled]="paginationNextDisabled"
            class="btn btn-success">Next</button>
        </li>
      </ul>
    </nav>
  </div>

  <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
      <div class="modal-content height-full">
        <div class="modal-header">
          <h5 class="modal-title">Post content</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body p-4" id="result">
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              {{postContent}}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

</div>