<div>
  <h1>List of posts with authors</h1>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">User Id</th>
        <th scope="col">User name</th>
        <th scope="col">Post Id</th>
        <th scope="col">Post Title</th>
        <th scope="col">Post Content</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let up of usersPosts">
        <th scope="row">{{up.userId}}</th>
        <td>{{up.userName}}</td>
        <td>{{up.postId}}</td>
        <td title="{{up.postTitle}}">
          <a href="#showPostContentModal" data-toggle="modal"
            (click)="setPostContent(up.postContent)">{{up.postTitle | truncate:[30, '...']}}</a>
        </td>
        <td title=" {{up.postContent}}">{{up.postContent | truncate:[50, '...'] }}</td>
        <td><button class="btn btn-danger" (click)="setPostId(up.postId)" data-toggle="modal"
            data-target="#deletePostModal">
            <i class="fa fa-trash"></i></button> </td>
      </tr>
    </tbody>
  </table>
  <div class="float-right">
    <span class="badge badge-info">items per page {{pagination.pageSize}}, {{pagination.totalCount}}
      results</span>&nbsp;
    <span>Page {{pagination.currentPage}} of {{pagination.totalPages}}</span>&nbsp;
    <ul class="pagination pagination-sm d-inline-block">
      <li class="page-item">
        <button (click)="prev()" type="button" [disabled]="paginationPrevDisabled"
          class="btn btn-success">Prev</button>&nbsp;
        <button (click)="next()" type="button" [disabled]="paginationNextDisabled" class="btn btn-success">Next</button>
      </li>
    </ul>
  </div>

  <div class="modal" id="showPostContentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
      <div class="modal-content height-full">
        <div class="modal-header">
          <h5 class="modal-title">Post content</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body p-4" id="result">
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              {{currentPostContent}}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Please confirm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you really want remove this post?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" (click)="deletePost()">Yes</button>
        </div>
      </div>
    </div>
  </div>

</div>